@import "tailwindcss";

@theme {
  --color-accent: #db8f02;
  --color-background: #080301;
  --color-normal: #fefefe;
  --color-bannerShado: rgba(90, 90, 90, 0.75);
  --breakpoint-sm: 463px;
}

body {
  background: var(--color-background);
  color: var(--color-normal);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  filter: grayscale(100%);
}